body {
    background: #444444;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected {
    background: #ff00ff;
    color: #ffffff;
}

.empty {
    border-color: red;
}

.completed {
    text-decoration: line-through;
    color: #e6b0b0;
}

.confirm {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mask {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.3;
}

.confirm-form {
    box-sizing: border-box;
    padding: 12px;
    width: 240px;
    height: 100px;
    background: #be8c8c;
}

.confirm-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.confirm-delete {
    float: left;
    width: 50%;
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #ff0000;
    outline: none;
    cursor: pointer;
}

.confirm-cancel {
    float: left;
    width: 50%;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #daafaf;
    outline: none;
    cursor: pointer;
}
.confirm-delete:hover {
    background: #ce7171;
}

.confirm-cancel:hover {
    background: #bbb1b1;
}

.main-container {
    padding: 30px;
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    background: #ffffff;
}

.menu-filter {
    width: 30%;
    float: left;
    height: 100%;
}

.main-show-area {
    width: 60%;
    float: left;
    height: 100%;
}

.menu-filter-item {
    background-color: #4CAF50;
    width: 100%;
    border: 1px solid white;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}