body {
    background: #444444;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty {
    border-color: red;
}

.confirm {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mask {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.3;
}

.confirm-form {
    box-sizing: border-box;
    padding: 12px;
    width: 240px;
    height: 100px;
    background: #4CAF50;
    border-radius: 5px;
}

.confirm-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.confirm-delete {
    float: left;
    width: 50%;
    color: #ffffff;
    background: #44c767;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
}

.confirm-delete:hover {
    background: #61a363;
}

.confirm-cancel {
    float: left;
    width: 50%;
    color: #ffffff;
    background: #44c767;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
}

.confirm-cancel:hover {
    background: #61a363;
}

.main-container {
    padding: 30px;
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    background: #ffffff;
}

/* 菜单 */
.menu-filter {
    width: 30%;
    float: left;
    height: 100%;
}

.main-show-area {
    width: 60%;
    float: left;
    height: 100%;
}

.menu-filter-item {
    width: 100%;
    border: 1px solid white;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}

.selected {
    background-color: rgb(117, 211, 120);
}

.unselected {
    background-color: #4CAF50;
}

/* 主内容区域 */
.main-show-area {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid gray;
}

.todo-item {
    margin: 1px;
    padding: 2px;
    width: 100%;
    display: inline-block;
    background: #4CAF50;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.todo-item-content {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-item-control {
    float: right;
    background-color: #44c767;
    border-radius: 1px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #4caf50;
    outline: none;
}

.completed {
    text-decoration: line-through;
    color: lightgray;
}


.todo-item-control:hover {
    background-color: #4caf50;
}