<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-todo</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="template">
        <!-- 显示列表组件 -->
        <template id="tpl-show-todo">
            <div>
                <!-- v-for 指令不能用于根元素 -->
                <div v-for="todo in todoList" :key='todo.id'>
                    <span :class="{completed: todo.completed}">{{ todo.content }}</span>
                    <button @click='markAsCompleted(todo)' v-if='!todo.completed'>完成</button>
                    <button @click='markAsUnCompleted(todo)' v-if='todo.completed'>未完成</button>
                    <button @click='deleteAlert(todo)'>删除</button>
                </div>
                <!-- 弹出层 -->
                <div v-if="confirmAlert" class="confirm">
                    <div class="mask"></div>
                    <div class="confirm-form center">
                        <div class="confirm-title">确认删除</div>
                        <button @click="deleteTodo()" class="confirm-delete">删除</button>
                        <button @click="confirmAlert = false" class="confirm-cancel">取消</button>
                    </div>
                </div>

            </div>
        </template>

        <!-- add todo 组件 -->
        <template id="tpl-add-todo">
            <div>
               <input 
                    :class="{empty: emptyChecked}"
                    v-model.trim='newTodoContent'
                    @keyup.enter='addTodo()'
                    type="text">
               <button @click='addTodo()'>add</button>
               <span v-if="emptyChecked" style="color: red">请输入内容</span>
            </div>
        </template>

    </div>

    <div id="todo-app">
        <todo-list></todo-list>
        <hr>
        <todo-add></todo-add>
    </div>

    <script src="./lib/vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>