<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-todo</title>
</head>

<body>
    <div class="template">
        <!-- 显示列表组件 -->
        <template id="tpl-show-todo">
            <div>
                <!-- v-for 指令不能用于根元素 -->
                <div v-for="todo in todoList" :key='todo.id'>
                    <span>{{ todo.content }}</span>
                </div>
            </div>
        </template>

        <!-- add todo 组件 -->
        <template id="tpl-add-todo">
            <div>
               <input v-model.trim='newTodoContent' @keyup.enter='addTodo()' type="text">
               <button @click='addTodo()'>add</button>
               <span v-if="newTodoContent === ''">请输入内容</span>
            </div>
        </template>

    </div>

    <div id="todo-app">
        <todo-list></todo-list>
        <todo-add></todo-add>
    </div>

    <script src="./lib/vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>